.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-tertiary);
}

.header h3 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.header nav {
  display: flex;
  gap: 20px;
}

.header nav a {
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-size: 1.3rem;
}

.link {
  position: relative;
}

.link .qntItem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 2rem;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  width: 60%;
  height: 80%;
  justify-content: space-between;
  margin: auto;
}

.content h2 {
  font-size: 3.5rem;
  font-weight: 400;
  width: 90%;
}

.content h1 {
  width: 90%;
  font-size: 6rem;
  height: auto;
  margin-bottom: 80px;
}

.content .buttons {
  align-self: flex-start;
  display: flex;
  gap: 30px;
  width: 80%;
  font-family: var(--font-secondary);
}

.content .buttons .target {
  width: 40%;
  height: 70px;
  font-family: var(--font-tertiary);
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--color-primary);
  cursor: pointer;
  border-radius: 40px;
  border: none;
}

.content .buttons .offer {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.main .image {
  width: 30%;
  position: relative;
  margin: auto;
  padding-top: 100px;
}

.category {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.category .title {
  font-size: 3rem;
  width: 80%;
  margin: 50px auto;
  font-weight: 500;
}

.category .options {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.category .options .option {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-tertiary);
}

.category .options .option img {
  width: 100%;
  height: 100%;
}

.category .options .option button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 70%;
  height: 60px;
  border-radius: 40px;
  font-size: 1.5rem;
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-transform: uppercase;
  cursor: pointer;
}

.products {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products .title {
  text-align: center;
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: 500;
  margin: 50px auto;
}

.products .navProducts {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  position: relative;
}

.navProducts button {
  background-color: var(--color-primary);
  border: 1px solid #000;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 20px 40px;
  border-radius: 40px;
  cursor: pointer;
}

.active {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.filter {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: var(--font-secondary);
  cursor: pointer;
}

.filter:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.product {
  width: 450px;
  height: 450px;
  position: relative;
  border-radius: 10px;
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #afafaf;
}

.product .productLike {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product img {
  width: 70%;
  height: 70%;
}

.newProduct {
  width: auto;
  height: auto;
  position: absolute;
  top: 5%;
  left: 0;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 500;
  transform: rotateZ(-30deg);
  border-radius: 10px;
}

.product .productInfo {
  background-color: var(--color-primary);
  width: 90%;
  padding: 10px;
  border-radius: 5px;
}

.product .productInfo .productTitle {
  font-size: 1.2rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  margin-bottom: 10px;
}

.product .productInfo .productPrice {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product .productInfo .productPrice .productCart {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--color-primary);
  padding: 5px 10px;
  height: 30px;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.team {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.team .title {
  font-size: 3rem;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-bottom: 50px;
}

.team .description {
  font-size: 1rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  width: 90%;
}
.team .teamImages {
  display: flex;
  gap: 20px;
  position: relative;
}

.team .teamImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 50px;
  padding: 10px;
  transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .teamImage img {
  border: 1px solid #c8c2e1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
}

.team .teamImage:hover img {
  background-color: #c8c2e1;
}

.team .teamImage:hover {
  background-color: #ebe9f4;
  border: 1px solid #ebe9f4;
  transform: scale(1.1);
}

.team .teamImages .teamImage .teamInfo {
  display: none;
}

.team .teamImages .teamImage:hover .teamInfo {
  position: absolute;
  top: -120px;
  background-color: var(--color-tertiary);
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  animation: fade 0.5s;
  text-align: center;
  z-index: -1;
  margin-bottom: 50px;
}

.team .teamImages .teamImage:hover .teamInfo .name {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: 600;
}

.team .teamImages .teamImage:hover .team-info .role {
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  font-weight: 400;
}

.team .teamImages .teamImage:hover .team-info .description {
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 300;
  width: 90%;
  margin-bottom: 50px;
}

.team .teamImages .teamImage:hover .team-info .contact {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary);
}

@keyframes fade {
  from {
    opacity: 0;
    top: 0px;
  }
  to {
    opacity: 1;
    top: -120px;
  }
}

.newsletter {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0;
}

.newsletter .newsletterImage {
  max-width: 600px;
  max-height: 700px;
  background-color: var(--color-tertiary);
  border-radius: 45%;
}

.newsletter .newsletterImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 30px;
}

.newsletter .newsletterInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.newsletter .newsletterInfo .title {
  font-size: 4rem;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-bottom: 50px;
}

.newsletter .newsletterInfo .description {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  width: 80%;
}

.newsletter .newsletterInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  background-color: var(--color-tertiary);
  width: 100%;
  height: 120px;
  border-radius: 60px;
}

.newsletter .newsletterInput input {
  width: 60%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 2rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  padding: 0 20px;
  border-radius: 60px;
  background-color: var(--color-tertiary);
}

.newsletter .newsletterInput button {
  width: 30%;
  height: 80%;
  border: none;
  outline: none;
  font-size: 2rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  padding: 0 20px;
  border-radius: 60px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  color: var(--color-primary);
  justify-content: space-around;
  padding-top: 50px;
}

footer .column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  height: auto;
  margin-bottom: 50px;
  padding: 0 20px;
}

footer .column .title {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

footer .column .description {
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
}

footer .column .description:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .column button {
  width: 70%;
  height: 50px;
  border: 1px solid var(--color-tertiary);
  outline: none;
  font-size: 1.2rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  padding: 0 20px;
  border-radius: 10px;
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.baseboard {
  width: 100%;
  height: 100px;
  bottom: 0;
  display: flex;
  gap: 20px;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-secondary);
  background-color: #131212;
  margin-top: 50px;
}

.baseboard .copyright {
  font-size: 1.2rem;
  font-weight: 300;
}

.baseboard .social {
  display: flex;
  gap: 20px;
}

.baseboard .social a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
